header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-bottom: 1px solid #EAEAEA;
    h3{
        text-transform: uppercase;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}

.headerLeft{
    display: flex;
    align-items: center;
    img{
        margin-right: 15px;
    }
}

.headerRight{
    display: flex;
    li{
        display: flex;
        align-items: center;
        cursor: pointer;
        &:first-child{
            img{
                margin-right: 10px;
            }
        }
        span{
            font-weight: 600;
            font-size: 14px;
        }
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}