body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7F6FF;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol{
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-bottom: 1px solid #EAEAEA;
    h3{
        text-transform: uppercase;
    }
}
.headerLeft{
    display: flex;
    align-items: center;
    img{
        margin-right: 15px;
    }
}
.headerRight{
    display: flex;
    li{
        display: flex;
        align-items: center;
        &:first-child{
            img{
                margin-right: 10px;
            }
        }
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.content{
    padding: 40px;
    h1{
        margin-bottom: 40px;
        font-size: 32px;
        font-weight: 700;
    }
}

.sneakers{
    display: flex;
}

.card{
    border: 1px solid #F3F3F3;
    border-radius: 40px;
    padding: 30px;
    width: 220px;
    &>img{
        margin-bottom: 14px;
    }
    h5{
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
    }
}

.cardBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;
    div{
        display: flex;
        flex-direction: column;
    }
    span{
        font-size: 11px;
        text-transform: uppercase;
        color: #BDBDBD;
    }
    b{
        font-size: 14px;
        font-weight: 700;
    }
}

.button{
    background-color: #fff;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;
}